body{
	background-color: darkgray;
}
h1{
	font-size: 30px;
	color:  salmon;
}
h2 {
	font-size: 18px;
	color: darkgoldenrod;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: firebrick;
}

h1 span{
	color: violet;
}